/* ========== Постоянные клиенты ========== */
.section-our-clients {
  margin-bottom: 94px;
  text-align: center;
}

.section-our-clients-title {
  color: var(--title-text-color);
  margin-bottom: 50px;
}

.our-clients-list {
  display: flex;
  justify-content: center;
  align-items: center;
 }

.our-clients-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  background-color: var(--primery-white-color);
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  align-items: center;
 }

.clients-logo-svg {
fill: #AFB1B8;
 }

.our-clients-list-item:not(:last-child) {
  margin-right: 30px;
}

.our-clients-list-item:hover .clients-logo-svg{
  fill: var(--accent-color);
}

.our-clients-list-item:hover {
  border: 1px solid var(--accent-color);
}