.social-list {
  display: flex; 
  justify-content: center;
  margin-bottom: 30px;
  }
  
  .social-list-item:not(:last-child)
  {margin-right: 10px;}
  
  .social-list-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%; 
  }
  
  .social-list-item-svg {
   width: 20px;
   height: 20px;
   fill: #AFB1B8;}
   
  
  .social-list-item-link:hover {
    background-color: var(--accent-color);
  }
  
  .social-list-item-link:hover .social-list-item-svg {
    fill: var(--primery-white-color);
  }
  
  .footer .social-list-item-svg {
  width: 20px;
  height: 20px;
  fill: var(--primery-white-color);}
  
  .footer .social-list-item-link {
    background-color: var(--primery-text-color);
  }
  
  .footer .social-list-item-link:hover {
    background-color: var(--accent-color);
  }